
.card-body {
    background-color: #181510;
    text-align: center;
}

/* .w-md-85{
    width:85%;
} */
/* .w-90{
    width:90%;
}
.w-95{
    width:95%;
} */
.card:not(footer .card) {
    margin: 5% !important;
    border-radius: 0px;
    background-color: #181510;
}

footer .card {
    margin: 0% !important;
}

.card-title {
    font-size: 1.2rem;
    color: #bbb572;
}

.card-title text-center {
    font-size: 2.2rem;
    color: #bbb572;
}

.title text-center {
    font-size: 1.2rem;
    text-decoration: none;
    color: #bbb572;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;

}


.instagram-opacity:hover {
    opacity: 0.4;
}

img.card-img-top.instagram-opacity {
    height: 11.7rem;
    border: 0.5px inset  rgba(186,180,114,0.4);
    border-radius: 7px;
    box-shadow: 3px 3px 4px 4px #000000, 20px 0px 13px -7px #000000, 20px 47px 23px 0px rgb(0 0 0 / 0%);
}

.insta_icon {
    position: absolute;
    top: 50%;
    font-size: 26px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.first-div {
    color: white;
}

.first-div:hover {
    color: #bbb572;
}

.row no-gutters {
    margin-right: 0px;
    margin-left: 0px;
}

.carousel-item img {
    height: 70vh !important;
}

.gallery_part {
    position: relative;
}

img.main-img.card-img-top {
    height: 30rem;
}

img.card-img-top.main-img1 {
    height: 220px;
}

.one-image-carousel {
    height: 30rem;
    border: 1.5px solid #B6B06F;
}

img.card-img-top.best-seller-collection,
.ready-to-ship-collection {
    height: 210px;
    padding: 1px;
    margin-top: 2rem;
    border: 1px ridge   #B6B06F;
    border-radius: 7px;
    transition: 0.5s;
    /* -webkit-box-shadow: 3px 3px 4px 2px #000000; */

}


.ready-to-ship-collection:hover,
.best-seller-collection:hover {
    
    -webkit-box-shadow: 5px 5px 23px 3px #000000;
}

span.title.text-center {
    font-size: 15px;

}



.c {
    text-shadow: 0px 0px 30px #bbb572;
}

.c:hover {
    text-shadow: 0px 0px 40px #bbb560 !important;
}

.rounded_card {
    border-radius: 10px !important;
}

/* -------------------------------------------------------------------------- */
/*                           MEDIA QUERY FOR MOBILES                          */
/* -------------------------------------------------------------------------- */

@media screen and (max-width: 600px) {
    .col-6.col-md-4.sub-main_collection {
        margin-top: 0px !important;
    }

    span.title.text-center {
        font-size: 13px;
        text-align: left;
    }

    h5.card-title.text-center {
        font-size: 15px;
    }

    img.d-block.w-100 {
        height: 15rem;
    }

    .ready-to-ship-collection {
        height: 180px;
        padding: 2px;

    }

    .best-seller-collection {
        height: 200px;

    }

    .card-border {
        margin: 7%;
        border: 2px solid #c451a725;
    }

    img.one-image-carousel.d-block.w-100 {
        height: 250px;
    }

    img.main-img.card-img-top {
        margin: auto;
        height: 10rem;
    }

    img.card-img-top.main-img1 {
        margin: auto;
        height: 10rem;
    }

    img.card-img-top.best-seller-collection {
        height: 190px;
        padding: 2px;
    }

    .carousel-item img {
        height: 300px !important;
    }

    img.card-img-top.instagram-opacity {
        height: 120px;
    }

    div .card img.card-img-top.best-seller-collection {
        border-radius: 7px;
    }

}
